.chat-notification
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  %p.chat-notification チャットグループが作成されました。

  .whole-layout
    .chat-side
      .chat-user.clearfix
        %h5 takashihojo
        .chat-user__actions
          %a.chat-user__action
            %i.fa.fa-pencil-square-o
          %a.chat-user__action
            %i.fa.fa-cog
      %ul.chat-groups
        %li.chat-group
          %a.chat-group__link
            %p.chat-group__name さむい
            %p.chat-group__message a
        %li.chat-group
          %a.chat-group__link
            %p.chat-group__name test
            %p.chat-group__message さむい
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2 test
          %p.chat-header__users
            Members:
            %span.chat-heaeder__user takashihojo
        .chat-header--right
          %a.chat-header__edit-btn Edit
      .chat-body
        %ul.chat-message
          %li.chat-message
          / =@message.body
        .chat-message__header.clearfix
          %p.chat-message__name takashihojo
          %p.chat-message__time 2006/03/02 06:11:28
          %p.chat-message__body わっほい
          %li.chat-message
        .chat-message__header.clearfix
          %p.chat-message__name takashihojo
          %p.chat-message__time 2018/03/02 15:11:50
          %p.chat-message__body ナチュラルミネラルウォーター
      .chat-footer
        .chat-footer__body
        =form_for [@group, @message] do |f|
          =f.label :aaa
          = f.text_area :body, placeholder: 'type a message'
          = f.label :image, class: 'chat-footer__file' do
            %i.fa.fa-image
          = f.submit 'Send'
