.chat-group
  %ul.chat-groups
    %li.chat-group
      %a.chat-group__link
        %p.chat-group__name
        = link_to group_messages_path do
          = group.name
        %p.chat-group__message
        = group.latest_message
